/* index.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  border-radius: 10px;
}
